<nav class="row navbar sticky-top navbar-expand-lg text-bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Animalia</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Animals</a></li>
        <li class="nav-item"><a class="nav-link" href="/habitats">Habitats</a></li>
      </ul>
      <form class="d-flex" action="/logout" method="post">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </form>
  
    </div>
  </nav>